<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<import resource="classpath:/spring_entity.xml" />

	<context:annotation-config />


	<bean id="userMasterRepository" class="com.ceostocks.model.user.UserMasteRepositoryImpl"></bean>
	<bean id="lkupCodeRepository" class="com.ceostocks.model.lkupcode.LkupCodeRepositoryImpl"></bean>
	<bean id="nCounterRepository" class="com.ceostocks.model.ncounter.NCounterRepositoryImpl"></bean>
	<bean id="ceoStocksChatRepository" class="com.ceostocks.model.chat.CeoStocksChatRepositoryImpl"></bean>

	<bean id="userSessionLogRepository" class="com.ceostocks.model.user.UserSessionLogRepositoryImpl"></bean>
	<bean id="userSessionRepository" class="com.ceostocks.model.user.UserSessionRepositoryImpl"></bean>

	<bean id="categoryRepository" class="com.ceostocks.model.ecom.CategoryRepositoryImpl"></bean>

	<bean id="documentRepository" class="com.ceostocks.model.document.DocumentRepositoryImpl"></bean>

	<bean id="timelinePostRepository" class="com.ceostocks.model.social.post.TimelinePostRepositoryImpl"></bean>

	<bean id="userPageRepository" class="com.ceostocks.model.social.page.UserPageRepositoryImpl"></bean>
	<bean id="commentRepository" class="com.ceostocks.model.social.post.CommentRepositoryImpl"></bean>
	<bean id="userFriendsRepository" class="com.ceostocks.model.social.post.UserFriendsRepositoryImpl"></bean>

	<bean id="friendRequestNotifyRepository" class="com.ceostocks.model.notification.FriendRequestNotifyRepositoryImpl"></bean>
	
	<bean id="groupsRepository" class="com.ceostocks.model.social.entity.GroupsRepositoryImpl"></bean>
	<bean id="groupsUserLinkRepository" class="com.ceostocks.model.social.entity.GroupsUserLinkRepositoryImpl"></bean>
</beans>